<% if @products.empty? %>
    <h1>No Product Found </h1>
<% else %>
    <div>
        <p><%= link_to "Categories", root_path %> / <%= link_to "#{@products.first.category.name}", results_category_index_path(:category => @products.first.category.id)%></p>
    </div>

    <% if @products.count == 1 %>
        <h2><%= @products.count %> Product Found in <%= @products.first.category.name %> Category.</h2>
    <% else %>
        <h1><%= @products.count %> Products found in <%= @products.first.category.name %> Category.</h2>
    <% end %>

    <%= render partial: 'product/product', 
        collection: @products,
        locals: { show_link: true } %>

<% end %>