<div class="product">
    <% if show_link %>
        <h3>
            <%= product.productStyle %> <%= link_to product.productName,  product %> 
        </h3>
    <% else %>
    <div>
        <p><%= link_to "Category", root_path %> /  <%= link_to "#{product.category.name}", results_category_index_path(:category => product.category.id)%> / <%= link_to "#{product.productName}", product_path(:id => product.id)%></p>
    </div>
        <h3>
            <%= product.productStyle %> <%= product.productName %>
        </h3>
        <p>
            <b>Size: </b> <%= product.productSize %>
        </p>
        <p>
            <b>Description: </b> <%= product.productDescription %>
        </p>
    <% end %>

    <% if product.productImage.present? %>
        <p>
            <%= link_to (image_tag product.productImage.url), product %>
        </p>
    <% end %>
    <p>
        <%= product.productCost %>
    </p>

</div>
