<div class="product">
    <h3>
        <% if show_link %>
            <%= product.productStyle %> <%= link_to product.productName,  product %> 
        <% else %>
            <%= product.productStyle %> <%= product.productName %>
        <% end %>
    </h3>
    <% if product.productImage.present? %>
        <p>
            <%= image_tag product.productImage.url %>
        </p>
    <% end %>
    <p>
        <b>Size: </b> <%= product.productSize %>
    </p>
    <p>
        <b>Price: </b> <%= product.productCost %>
    </p>
    <p>
        <b>Description: </b> <%= product.productDescription %>
    </p>
</div>
