<h1>ESportShop</h1>

<div class="product">
    <p>
        <b>Style: </b> <%= @product.productStyle %>
    </p>
    <p>
        <b>Name: </b> <%= link_to @product.productName, @product %>
    </p>
    <p>
        <b>Size: </b> <%= @product.productSize %>
    </p>
    <p>
        <b>Price: </b> <%= @product.productCost %>
    </p>
    <p>
        <b>Description: </b> <%= @product.productDescription %>
    </p>
</div>