<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ESportShop</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div>
        <ul>
          <% if user_signed_in? %>
            <div>
              <a href="<%= cart_show_path %>"><%= image_tag("cart.png", width: 20, height:20 ) %></a>
            </div>
            <div>
              <%= link_to current_user.email, root_path %>
              <%= link_to "Orders", order_index_path, :method => :get %>
            </div>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
              <li class="nav-item"><%= link_to 'Sign In', user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          </ul>
        <% end %>
      </div>
      <%= form_tag(results_search_index_path, method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= collection_select(:query_cat,:category_id , Category.all.order(:name), :id, :name) %>
        <%= submit_tag("Search") %>
      <% end %>
      <div>
          <% cat = Category.all %>
          <% cat.each do |c| %>
            <p><%= link_to c.name, results_category_index_path(:category => c.id) %></p>
          <% end %>
      </div>
      <div>
        <%= form_tag(filter_index_path, method: "get") do %>
          <%= label_tag(:query, "Filter:") %>
          <%= collection_select(:query_deal, :deal_id, Deal.all.order(:name), :id, :name) %>
          <%= submit_tag("Filter") %>
        <% end %>
        <br>
        <br>
      </div>
    </header>
    <%= render partial: 'shared/header' %>
    <%= render partial: 'shared/menu' %>
    <%= yield %>
  </body>
</html>
